-var activeNav="portfolio"
.row
  h3 Portfolio
  p.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  #port
    #port-filters.btn-group
      button.btn.btn-primary(data-filter='*') Show all
      button.btn(data-filter='web') Web
      button.btn(data-filter='mech') Mechanical
    #port-box

script(src="js/json2html.js")
script(src="js/fit-columns.js")
script(src="js/masonry-horizontal.js")

script(src="app2.js")